# Data
data/raw/*.csv
data/processed/*.csv
data/raw/*.zip

# Models
models/*.pkl
models/*.json

# Python
__pycache__/
*.py[cod]
venv/
.Python
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Outputs (keeping visualizations for portfolio, but ignoring large files)
# outputs/*.png
# outputs/*.json
outputs/*.zip
outputs/*.csv

# OS
.DS_Store

